.product-card {
    width: 100%; /* Зробити картку шириною на всю ширину контейнера */
    margin-bottom: 20px; /* Відступ знизу між картками */
  }
  
  .product-card .card-img-top {
    overflow: hidden; /* Приховати винос за межі контейнера */
    width:  100%; /* Зробити зображення розміром в 100% ширини контейнера */
    height: 260px; /* Задати фіксовану висоту для зображення */
    object-fit: scale-down;  
    object-position: center; /* Центрувати зображення в контейнері */
  }